@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.App {
  padding-bottom: 100px;
  height: max-content;
  min-height: 100vh;
}

/* Dark Mode */
:root {
  --app-container: #f3f6fd;
  --navbar-link-color: #000;
  --container-content: #fff;
}

.dark:root {
  --app-container: #1f1d2b;
  --navbar-link-color: #fff;
  --container-content: #1b2937;
}
button,
a {
  cursor: pointer;
}
.App {
  background-color: var(--app-container);
  transition: background-color 0.5s ease-in-out;
}
.dark-switch {
  background-color: transparent;
  color: var(--navbar-link-color);
}
.navbar-link {
  color: var(--navbar-link-color);
}
.navbar-link:hover {
  color: var(--navbar-link-color);
}
.top-coinList-container {
  background-color: var(--container-content) !important;
  border-radius: 32px !important;
}
.content-cointainer {
  background-color: var(--container-content) !important;
}
.text-color {
  color: var(--navbar-link-color) !important;
}
.btn-color {
  color: var(--navbar-link-color) !important;
}
.pl-5 {
  padding-left: 2em;
}
.logo {
  width: 25px;
  height: 25px;
}

.displaynone {
  display: none;
}
/* .bg-white {
  background-color: #ffffff;
} */
.text-white {
  color: #ffffff;
}
.main-color {
  background-color: #ebf2f9;
}

.text-overflow {
  overflow-wrap: anywhere;
}

.red {
  text-align: center;
  color: #ec3535;
}

.green {
  text-align: center;
  color: #11d811;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--app-container);
  text-align: center;
}

.loader {
  text-align: center;
}

/*
  Set the color of the icon
*/
.loader svg path,
svg rect {
  fill: #488cc8;
}

.trade-success {
  /* background-color: #282f2f; */
  /* color: #ffffff; */
  /* border: 1px solid; */
}
.order-success {
  background-color: #282f2f;
  color: #ffffff;
}
.order-success button {
  background-color: #e6f8f8;
  color: #282f2f;
}

.coin-img {
  width: 25px;
  height: 25px;
}
.letter::first-letter {
  font-family: 'Noto Serif JP', serif;
  float: left;
  font-weight: bold;
  font-size: 60px;
  font-size: 6rem;
  line-height: 40px;
  line-height: 4rem;
  height: 4rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 375px) {
}
@media only screen and (min-width: 425px) {
}
@media only screen and (min-width: 768px) {
  .coin-img {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (min-width: 1024px) {
}
