@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  position: relative;
  margin: 0;
  /* padding-bottom: 6rem; */
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.displaynone{
  display: none;
}
.bg-white{
  background-color: #ffffff ; 
}
.text-white{
  color: #ffffff;
}
.main-color{
  background-color: #ebf2f9;
}

/* Dark Mode */
.App{
  /* background-color: #ebf2f9; */
  padding-bottom: 200px;
  height: max-content;
  min-height: 100vh;
}
.light{
  background-color: #ebf2f9 !important;
  color: #27292c;
}
.dark{
  background-color: #27292c !important;
  color: #ffffff !important;
}
.text-overflow{
  overflow-wrap: anywhere;
}
.coin-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.red {
  text-align: center;
  color: #ec3535;
}

.green {
  text-align: center;
  color: #11d811;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ffffff;
  text-align: center;
}