@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.displaynone{
  display: none;
}
.bg-white{
  background-color: #ffffff ; 
}
.text-white{
  color: #ffffff;
}
.main-color{
  background-color: #ebf2f9;
}
.App{
  background-color: #ebf2f9;
  padding-bottom: 200px;
  height: max-content;
  min-height: 100vh;
}