.containerTrade {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "livePrice livePrice livePrice livePrice livePrice livePrice livePrice trade trade trade trade"
    "chart chart chart chart chart chart chart trade trade trade trade"
    "chart chart chart chart chart chart chart trade trade trade trade"
    "chart chart chart chart chart chart chart trade trade trade trade"
    "chart chart chart chart chart chart chart trade trade trade trade"
    "chart chart chart chart chart chart chart trade trade trade trade"
    "chart chart chart chart chart chart chart trade trade trade trade"
    "order order order order order order order balance balance balance balance"
    "order order order order order order order balance balance balance balance"
    "order order order order order order order balance balance balance balance"
    "order order order order order order order balance balance balance balance"
    "trades trades trades trades trades trades trades trades trades trades trades"
    "trades trades trades trades trades trades trades trades trades trades trades"
    "trades trades trades trades trades trades trades trades trades trades trades";
}

.livePrice { grid-area: livePrice; }

.trade { grid-area: trade; }

.chart { grid-area: chart; 
}

.balance { grid-area: balance; }

.order { grid-area: order; }

.trades { grid-area: trades; }

.trade-success{
  background-color:#245a52;
  color: #ffffff;
}
.order-success{
  background-color:#282f2f;
  color: #ffffff;
}
.order-success button{
  background-color:#e6f8f8;
  color: #282f2f;
}