.containerTrade {  display: grid;
  grid-template-columns: 1fr 1fr  1fr;
  grid-template-rows: 80px 1fr  max-content max-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "livePrice livePrice livePrice"
    "chart chart trade"
    "order order balance"
    "trades trades trades";
}

.livePrice { grid-area: livePrice; }

.chart { grid-area: chart; }

.trade { grid-area: trade; }

.order { grid-area: order; }

.balance { grid-area: balance; }

.trades { grid-area: trades; }

.trade-success{
  background-color:#245a52;
  color: #ffffff;
}
.order-success{
  background-color:#282f2f;
  color: #ffffff;
}
.order-success button{
  background-color:#e6f8f8;
  color: #282f2f;
}