.containerTrade {
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: 80px 370px max-content max-content max-content max-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "livePrice"
    "chart"
    "trade"
    "balance"
    "order"
    "trades";
}

@media only screen and (min-width: 375px) {
  .containerTrade {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 80px 370px max-content max-content max-content max-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "livePrice"
      "chart"
      "trade"
      "balance"
      "order"
      "trades";
  }
}
@media only screen and (min-width: 425px) {
  .containerTrade {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 370px max-content max-content max-content max-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "livePrice"
      "chart"
      "trade"
      "balance"
      "order"
      "trades";
  }
}
@media only screen and (min-width: 768px) {
  .containerTrade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 448px max-content max-content max-content max-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "livePrice livePrice"
      "chart chart"
      "trade balance"
      "order order"
      "trades trades";
  }
}

@media only screen and (min-width: 1024px) {
  .containerTrade {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr max-content max-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "livePrice livePrice livePrice livePrice livePrice"
      "chart chart chart trade trade"
      "order order order balance balance"
      "trades trades trades trades trades";
  }
}

.livePrice {
  grid-area: livePrice;
}

.chart {
  grid-area: chart;
}

.trade {
  grid-area: trade;
}

.order {
  grid-area: order;
}

.balance {
  grid-area: balance;
}

.trades {
  grid-area: trades;
}

.trade-success {
  background-color: #282f2f;
  color: #ffffff;
}
.order-success {
  background-color: #282f2f;
  color: #ffffff;
}
.order-success button {
  background-color: #e6f8f8;
  color: #282f2f;
}